# NUMPY : Package for Multidimensional Array
   Vector(1D) and Matrix(2d or 1D)

In [78]:
#numpy - numerical python (deal with numbers)

In [1]:
import numpy as np

In [3]:
simple_list=[6,7,9]
np.array(simple_list)

array([6, 7, 9])

In [5]:
arr=np.array([1,2,3])
arr

array([1, 2, 3])

In [6]:
list_of_lists=[[1,2,3],[4,5,6],[7,8,9]]
np.array(list_of_lists)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
np.arange(5,30)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29])

In [8]:
np.arange(5,30,5)

array([ 5, 10, 15, 20, 25])

In [9]:
np.zeros(100)         #array of zeroes

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [11]:
np.zeros(10,dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [12]:
np.ones((2,5))         #array of ones

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [13]:
np.linspace(0,1,5)    #linear spaced values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [14]:
np.linspace(0,20,8)

array([ 0.        ,  2.85714286,  5.71428571,  8.57142857, 11.42857143,
       14.28571429, 17.14285714, 20.        ])

In [15]:
np.eye(10,dtype=int)

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1]])

In [17]:
np.random.rand(2,4)

array([[0.09850747, 0.60942035, 0.6722198 , 0.99559932],
       [0.62509147, 0.62748831, 0.53459686, 0.26768353]])

In [18]:
np.random.randn(2,4)

array([[-0.38044239, -1.57633586,  0.99612177,  0.75247687],
       [-1.1190361 , -0.44130492, -0.51522486, -0.25854745]])

In [19]:
np.random.randint(2,10)

4

In [20]:
np.random.randint(20,56,100)

array([42, 22, 33, 33, 33, 27, 22, 53, 24, 34, 23, 51, 23, 47, 51, 21, 24,
       27, 29, 33, 47, 39, 31, 50, 37, 50, 54, 46, 39, 37, 38, 37, 28, 23,
       45, 38, 27, 48, 50, 33, 45, 55, 41, 25, 30, 49, 35, 23, 27, 29, 20,
       20, 43, 51, 30, 35, 25, 53, 38, 48, 54, 50, 53, 48, 33, 50, 34, 42,
       41, 52, 48, 20, 45, 27, 24, 38, 41, 29, 47, 35, 47, 53, 40, 32, 50,
       42, 25, 45, 38, 38, 22, 29, 27, 25, 43, 32, 42, 28, 24, 49])

In [21]:
sample_array=np.arange(30)
sample_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [23]:
rand_array=np.random.randint(0,100,20)
rand_array

array([23, 56, 94, 15, 95, 74, 43, 41, 58, 62, 86, 48, 78, 80, 33, 55, 10,
       99, 57, 98])

In [24]:
sample_array.reshape(15,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23],
       [24, 25],
       [26, 27],
       [28, 29]])

In [26]:
sample_array.reshape(3,10)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]])

In [27]:
sample_array.reshape(3,11)

ValueError: cannot reshape array of size 30 into shape (3,11)

In [28]:
rand_array.min()     # minimum value

10

In [29]:
rand_array.argmin()     #index of minimum value

16

In [34]:
rand_array.max()

99

In [30]:
rand_array.argmax()     #index of maximum value

17

In [31]:
sample_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [32]:
sample_array.shape

(30,)

In [33]:
sample_array.reshape(5,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [35]:
sample_array.dtype

dtype('int32')

In [36]:
a=np.eye(5)         # identity matrix 
a

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [37]:
a.T          # transpose of matrix

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [38]:
a=np.random.rand(2,3)
a

array([[0.92904106, 0.14998063, 0.26051998],
       [0.51027544, 0.58567392, 0.67389129]])

In [39]:
a.T

array([[0.92904106, 0.51027544],
       [0.14998063, 0.58567392],
       [0.26051998, 0.67389129]])

In [41]:
sample_array=np.arange(10,21)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [42]:
sample_array[8]

18

In [43]:
sample_array[2:5]

array([12, 13, 14])

In [44]:
sample_array[1:4]=100
sample_array

array([ 10, 100, 100, 100,  14,  15,  16,  17,  18,  19,  20])

In [47]:
sample_array=np.arange(10,21)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [48]:
sample_array[0:7]

array([10, 11, 12, 13, 14, 15, 16])

In [49]:
subset_sample_array=sample_array[0:7]
subset_sample_array

array([10, 11, 12, 13, 14, 15, 16])

In [51]:
subset_sample_array[:]=1001
subset_sample_array

array([1001, 1001, 1001, 1001, 1001, 1001, 1001])

# Two-Dimensional Array

In [52]:
sample_matrix=np.array(([50,20,1,23],[24,23,21,33],[56,76,24,7]))
sample_matrix

array([[50, 20,  1, 23],
       [24, 23, 21, 33],
       [56, 76, 24,  7]])

In [53]:
sample_matrix[0][2]

1

In [54]:
sample_matrix[2,:]

array([56, 76, 24,  7])

In [55]:
sample_matrix[2]

array([56, 76, 24,  7])

# Custom Indexing

In [58]:
sample_matrix=np.array(([30,10,1,23],[24,21,32,33],[6,76,24,7]))
sample_matrix

array([[30, 10,  1, 23],
       [24, 21, 32, 33],
       [ 6, 76, 24,  7]])

In [59]:
sample_matrix[:,(3,2)]

array([[23,  1],
       [33, 32],
       [ 7, 24]])

# Selection Techniques

In [57]:
sample_array=np.arange(1,31)
sample_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [60]:
bool=sample_array<10
bool

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [61]:
sample_array[bool]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [62]:
sample_array+sample_array

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34,
       36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60])

In [63]:
np.exp(sample_array)   #find exponential

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03, 2.20264658e+04, 5.98741417e+04, 1.62754791e+05,
       4.42413392e+05, 1.20260428e+06, 3.26901737e+06, 8.88611052e+06,
       2.41549528e+07, 6.56599691e+07, 1.78482301e+08, 4.85165195e+08,
       1.31881573e+09, 3.58491285e+09, 9.74480345e+09, 2.64891221e+10,
       7.20048993e+10, 1.95729609e+11, 5.32048241e+11, 1.44625706e+12,
       3.93133430e+12, 1.06864746e+13])

In [64]:
np.sqrt(sample_array)   #find square root

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766,
       3.31662479, 3.46410162, 3.60555128, 3.74165739, 3.87298335,
       4.        , 4.12310563, 4.24264069, 4.35889894, 4.47213595,
       4.58257569, 4.69041576, 4.79583152, 4.89897949, 5.        ,
       5.09901951, 5.19615242, 5.29150262, 5.38516481, 5.47722558])

In [65]:
np.log(sample_array)     #find logarthmic values

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509,
       2.39789527, 2.48490665, 2.56494936, 2.63905733, 2.7080502 ,
       2.77258872, 2.83321334, 2.89037176, 2.94443898, 2.99573227,
       3.04452244, 3.09104245, 3.13549422, 3.17805383, 3.21887582,
       3.25809654, 3.29583687, 3.33220451, 3.36729583, 3.40119738])

In [66]:
np.max(sample_array)      #find maximum value

30

In [67]:
np.min(sample_array)        #find minimum value

1

In [68]:
np.argmax(sample_array)         #find index of maximum value

29

In [69]:
np.argmin(sample_array)          #find index of minimum value

0

In [70]:
np.square(sample_array)        #find square of values

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144, 169,
       196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676,
       729, 784, 841, 900], dtype=int32)

In [71]:
np.std(sample_array)        #find standard deviation

8.65544144839919

In [72]:
np.var(sample_array)         #find variance

74.91666666666667

In [73]:
np.mean(sample_array)      #find mean of values

15.5

In [74]:
array=np.random.randn(3,6)
array

array([[ 0.07385209, -0.82318196, -0.00225199,  1.05229038, -0.13540332,
        -0.73152093],
       [-0.44864699,  1.26469083, -0.64525652,  0.84668869,  0.09993844,
        -0.40598546],
       [ 0.2390189 , -0.07147659,  0.06444485, -0.01660208,  0.76275432,
         0.48248116]])

In [75]:
np.round(array,decimals=2)       #round off values upto desired no of places

array([[ 0.07, -0.82, -0.  ,  1.05, -0.14, -0.73],
       [-0.45,  1.26, -0.65,  0.85,  0.1 , -0.41],
       [ 0.24, -0.07,  0.06, -0.02,  0.76,  0.48]])

In [76]:
sports=np.array(['golf','cricket','fball','cricket'])
np.unique(sports)         #find unique values

array(['cricket', 'fball', 'golf'], dtype='<U7')

# Pandas

In [79]:
import pandas as pd

In [80]:
labels=['w','x','y','z']
sample_list=[10,20,30,40]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [81]:
pd.Series(data=sample_list)

0    10
1    20
2    30
3    40
dtype: int64

In [82]:
pd.Series(data=sample_list,index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [83]:
pd.Series(array,labels)

w    1
x    2
y    3
z    4
dtype: int32

In [84]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

# Pandas Dataframe and Indexing

In [85]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [86]:
sports1['football']

2

In [87]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [88]:
sports1+sports2        #NaN because baseball & basketball both are present in only single sports

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [91]:
df1=pd.DataFrame(np.random.randn(8,5),index='A B c D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5 '.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  1.326761 -0.608180  0.066857 -0.067984  0.362109
B -3.091676 -0.692694  1.411309  0.735339  0.001955
c  1.738532 -0.548250  1.388288  0.282585 -0.169723
D  1.970926  0.406708 -0.422829  0.542123 -0.249960
E -2.124163  0.579700  0.008700  1.157530 -0.806726
F -0.285649 -1.111355  0.234498 -1.266717 -0.002498
G -1.753612  1.250596 -1.795901 -0.570969  1.042445
H  0.108422  1.113233  0.373652 -0.716412  0.056490

In [92]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  1.326761 -0.608180  0.066857 -0.067984  0.362109  0.718581
B -3.091676 -0.692694  1.411309  0.735339  0.001955 -3.784369
c  1.738532 -0.548250  1.388288  0.282585 -0.169723  1.190281
D  1.970926  0.406708 -0.422829  0.542123 -0.249960  2.377634
E -2.124163  0.579700  0.008700  1.157530 -0.806726 -1.544463
F -0.285649 -1.111355  0.234498 -1.266717 -0.002498 -1.397004
G -1.753612  1.250596 -1.795901 -0.570969  1.042445 -0.503016
H  0.108422  1.113233  0.373652 -0.716412  0.056490  1.221654

In [94]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123